@charset "utf-8";



*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom,#fffb00,#ffffff21);
    min-height: 150px;
    padding-top: 100px;
    text-align: center;
}


header h1{
    color:rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.476);
    
}

header > p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

nav{
    background-color:rgba(0, 0, 0, 0.048);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.376)
}

nav > a{
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: duration 0.8s;;
}
nav > a:hover{
    background-color: rgba(0, 0, 0, 0.233);
    color: yellow;
}

main{
    min-width: 300px;
    max-width:1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

article > h1 {
    text-align: center;
}

article > h2{
    text-align: center;
}
main p {
    margin: 15px 0px 15px 0px;
    text-align: justify; 
    text-indent: 30px;
    font-size: 0.9em;
    line-height: 2em; 
}

main strong{
color:black;
font-weight: bold;
padding: 2px 5px;

}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;

}

main h1{
    color: black;
    font-family: var(--fonte-android);
}

main h2{
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-size: 1.3em;
    text-indent: 8px;
}





footer{
    background-color: var(--cor5);
    color:black;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: black;
}

ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 1;
}


--------------------------------------------------------

body{
    background-color:rgba(255, 255, 255, 0);
    font-family:'Times New Roman', Times, serif;

}

header{
    background-image: linear-gradient(to bottom,#fffb00,#ffffff21);
    min-height: 100px;
    padding-top: 100px;
    text-align: center;
}


header h1{
    color:rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.476);
}
nav{
        background-color: var(--cor5);
        padding: 10px;
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.376)
    }
    
nav > a{
        color: black;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: duration 0.8s;;
    }
nav > a:hover{
        background-color: rgba(0, 0, 0, 0.233);
        color: yellow;}

main{       min-width: 300px;
            max-width:1000px;
            margin: auto;
            margin-bottom: 30px;
            padding: 20px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
}

ul > h3{
    font-family:'Times New Roman', Times, serif ;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 1;
}

ul > li{
    font-family: Arial, Helvetica, sans-serif;

}